
$body-bg: #111111;
$body-bg2: #FFFFFF;

$primary: #FFB400;
$primary-bg2: #72b626;

$txt: #EEEEEE;
$txt-bg2: #6F6F6F;
$txt-bg2--bold: #666666;

$gray-bg2:rgba(30, 37, 48, 0.07);

$gray : #2b2a2a ;
$black: #000000;
$white : #FFFFFF;

$nav-height--mb: 80px;


$mobile-width: 600px;
$tablet-width: 1024px;